
/* -------------------- Created by Michalis Karatsioris -------------------- */

/* -------------------- GOOGLE FONTS & NORMALIZE-------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior: smooth;
    background: #111;
}
.max-width{
    max-width: 1600px;
    padding: 0 10px;
    margin: auto;
}

/* -------------------- CUSTOM SCROLL BAR SET UP -------------------- */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* -------------------- NAVIGATION BAR SET UP -------------------- */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-right: 0;
    padding: 30px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #111;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.lang{
    margin-left: 0px;
}
.lang-menu{
    position: relative;
    padding: 30px;
}
.selected-lang{
    cursor: pointer;
    color: #fff;
    width: 100px;
}
.selected-lang:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
}
.lang-menu ul{
    width: 80px;
    background: none;
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    margin: 0;
}
.lang-menu:hover ul{
    display: inline-block;
}
.lang-menu ul li{
    list-style: none;
}
.lang-menu ul li a{
    display: block;
}
.lang-menu ul li a:before{
    content: '';
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#eng:before{
    background: url("../../../img/countries/us-c.svg") no-repeat center;
}
#es:before{
    background: url("../../../img/countries/es-c.svg") no-repeat center;
    margin-top: 20px;
}
#it:before{
    background: url("../../../img/countries/it-c.svg") no-repeat center;
    margin-top: 20px;
}
#ru:before{
    background: url("../../../img/countries/ru-c.svg") no-repeat center;
    margin-top: 20px;
}
#cn:before{
    background: url("../../../img/countries/cn-c.svg") no-repeat center;
    margin-top: 20px;
}

/* -------------------- MENU BTN SET UP -------------------- */

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* -------------------- ABOUT SET UP -------------------- */

#about{
    padding: 200px;
    padding-top: 200px;
    padding-bottom: 50px;
    background: url("../../../img/satin-black.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;
    color: #fff;
}
.about-photo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-photo img{
    flex-basis: 20%;
    width: 30%;
    border-radius: 50%;
}
.about-photo p{
    flex-basis: 70%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.tab-titles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 50% 40px;
}
.tab-categories{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-categories::after{
    content: '';
    width: 0;
    height: 3px;
    background: crimson;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}
.tab-categories.active-category::after{
    width: 100%;
}
.tab-categories:hover::after{
    width: 100%;
}
.tab-contents{
    margin: 0;
    font-size: 15px;
}
#bio{
    font-size: 20px;
    padding: 0 300px;
}
#amt{
    font-size: 20px;
    padding: 0 300px;
}
#articles{
    padding-bottom: 300px;
    font-size: 20px;
    padding: 0 300px;
}
#articles ul li{
    list-style-type: circle;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#articles li a{
    color: #fff;
}

/* -------------------- FOOTER SET UP -------------------- */

footer{
    background: url("../../../img/satin-black.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 17px;
    font-weight: 600;
}
footer i{
    color: crimson;
}

/* -------------------- RESPONSIVE MEDIA QUERY SET UP -------------------- */

@media (max-width: 1550px) {
    .schedule-list{
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    }
}

@media (max-width: 1250px) {
    .schedule-list{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
}

@media (max-width: 1230px) {
    .gallery-list{
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    }
}

@media (max-width: 1200px) {
    .max-width{
        padding: 0 50px;
        max-width: 1200px;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.7s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a,
    .navbar .menu .lang-menu{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .lang-menu{
        position: relative;
    }
    .lang-menu:hover ul{
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 35%;
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    .navbar .menu .lang-menu ul li{
        padding: 10px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .schedule-list{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    }
    .schedule-list div{
        padding: 30px;
    }
    .schedule-list div h2{
        font-size: 25px;
    }
    .contact-left{
        padding-bottom: 50px;
    }
    .contact-left,
    .contact-right{
        flex-basis: 100%;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .contact-left,
    .contact-right{
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1000px) {
    .max-width{
        padding: 0 40px;
        max-width: 1000px;
    }
    #about,
    #schedule,
    #gallery{
        padding-left: 70px;
        padding-right: 70px;
    }
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .schedule-list{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
    #contact{
        padding: 10px;
    }
    .contact-left{
        padding-bottom: 50px;
    }
    .contact-left,
    .contact-right{
        flex-basis: 100%;
        text-align: center;
    }
    footer{
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .max-width{
        max-width: 800px;
    }
    .navbar .logo{
        width: 300px;
    }
    .about-photo{
        display: block;
        margin: auto;
    }
    .about-photo img{
        width: 70%;
        display: block;
        margin: auto;
        padding-bottom: 50px;
    }
    .gallery-list{
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    }
    .sub-title{
        font-size: 50px;
    }
    .contact-left,
    .contact-right{
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .max-width{
        max-width: 500px;
    }
    .navbar .logo{
        width: 200px;
        height: 35px;
    }
    .navbar .fas{
        display: block;
        font-size: 20px;
    }
    .navbar ul li{
        display: block;
        margin: 25px;
        font-weight: 600;
    }
    .navbar ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .navbar .menu .lang-menu ul li{
        padding: 0;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-column-left,
    .about-column-right{
        flex-basis: 100%;
    }
    .about-column-left{
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-column-left img{
        width: 150px;
    }
    .about-column-right{
        font-size: 15px;
    }
    .tab-categories{
        font-size: 20px;
        margin-right: 20px;
    }
    .gallery-list{
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    }
    #contact{
        padding: 10px;
    }
    footer{
        font-size: 10px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media (max-width: 400px) {
    .max-width{
        max-width: 400px;
    }
    .navbar .menu{
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.7s ease;
    }
    #schedule{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    video{
      width: 100%;
      height: 100vh;
      object-fit: cover;
      opacity: 0.8;
    }
}


/* -------------------- Created by Michalis Karatsioris -------------------- */